$orange : #fd7e14;
$yellow : #ffd43b;
$lime : #c0eb75;

.Button{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  border:none;
  outline:none;
  
  height:2rem;
  color:white;
  background:$orange;
  border-radius:4px;
  font-weight:bold;
  padding:0 1rem;
  &:hover{
    background : lighten($orange, 10%);
  }
  &:active{
    background : darken($orange, 10%);
  }

}